ipykernel
ipython
jax==0.2.19
jupyterlab
matplotlib
neural-tangents==0.3.7
numpy
opencv-python==4.5.3.56
packaging==21.0
pandas
Pillow==9.0.0
protobuf==3.17.3
scikit-learn
scipy
seaborn
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-datasets==4.4.0
tensorflow-estimator==2.6.0
tensorflow-metadata==1.2.0
tqdm==4.62.2
